.w3-container {
    padding: 0.01em 16px
}

.w3-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    object-fit: cover;
}

.w3-center {
    display: inline-block;
    width: auto;
    text-align: center!important
}

.mySlides {
    object-fit: cover;
    width:90%
}

.w3-section {
    margin-top: 16px!important;
    margin-bottom: 16px!important
}

.w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    text-align: left;
    padding: 8px 16px;
    white-space: normal
}